

.logo-link, .title-link {
    text-decoration: none;
    color: inherit;
}

.logo-link:hover, .title-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.event-name {
    padding-left: 10px;
    font-size: 1.75rem !important;
    font-weight: 900 !important;
    color: black;
}
.event-other {
    color: grey;
}

.menu {
    margin: auto;
}

.menu a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    color: #333;
}

.get-contacts {
    margin-left: auto;
    margin-right: auto;
    background-color: black !important;
    box-shadow: none;
    border-radius: 8px !important;
    height: 70%;
    font-weight: 700 !important;
}

.get-contacts:hover {
    opacity: 0.8;
    cursor: pointer;
}