.prime-header {
    position: sticky;
    z-index: 90;
    height: 66px;
    font-weight: 550;
    background: radial-gradient(67.87% 1366.67% at 50% 0, hsla(0, 0%, 100%, .95) 0, hsla(0, 0%, 100%, .85) 85.19%);
    border-radius: 20px;
    box-shadow: none;
}

.toolbar {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 28px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    height: 40px;
}

.event-name {
    font-size: 24px;
    font-weight: 600;
}

.menu a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}
