.resume-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #115cdd, #050609);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}