.content-section {
    /* background: linear-gradient(to bottom, #72F08F, white ); */
    background-color: #0F1217;
    /* min-height: 100vh; */
    padding: 80px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.content-title {
    min-width: 58vw;
    padding-top: 100px;
    margin-bottom: 20px !important;
    text-align: left !important;
    font-weight: 900 !important;
    font-size: 80px !important;
    color: white;
}

@media (min-height: 950px) {
    .content-title {
        padding-top: 0;
    }
}

.content-text {
    text-align: left;
    font-size: 25px !important;
    font-weight: 300 !important;
    color: #808994;
}

/* .gradient-text {
    background: linear-gradient(90deg, #9ceaa2, #28c13f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 900;
} */

.highlight-text {
    color: #9ceaa2;
    font-weight: 900;
}

.important-text {
    font-weight: 900;
    font-size: 2rem;
    color: white;
}